<div class="container">
  <footer class="footer">
    <small>&copy; <a href="http://jack-moody.com">Jack Moody 2017</a></small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Create Article", new_article_path %></li>
      </ul>
    </nav>
  </footer>
</div>